body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 0;
  background-color: #f5f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
  color: #333;
}
 .container {
  max-width: 900px;
  margin: 20 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 10px;
  margin: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #0056b3;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

